.home .wrap{
    margin-top: 0;
/*	height: 100vh;*/
}
.fullwidth{
    height: 100vh;
}
@media only screen and (max-device-width: 1024px){
	.home-site-wrapper{
		background-attachment: scroll !important;
	}
}
.site-wrapper {
  width:100%;
/*  height:784px ;*/
  display: table;
	position: relative;

}
.cover-heading{
    margin:0px auto 50px auto;
 }

.home_login_wrap{
    margin-top: 76px;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}
.home .nav-bg{
    background: rgba(64,64,64,0.75);
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    text-align: center;

}
.subtitle_smScreen{
    font-size: 24px;
    letter-spacing: 0.01em;
    margin-top: 19px;
    margin-bottom: 9.5px;
    font-weight: 700;
    line-height: 1.11;
}

 .lead_title{
    font-size:58px;
    font-weight: 700;
	 line-height: 120%;
    /*margin-bottom:45px;*/
 }

.home_subtitle_sm{
    font-size: 21px;
    margin:23px auto 36px auto;
}

/***nav bar**/
.fullWidth_nav a:link,
.fullWidth_nav a:visited,
.fullWidth_nav a:hover{
    color: #fff !important;
}


.home_sign_up_wrap{
	width: 740px;
    margin: auto;
}

.scrollDown{
	position: absolute;
    width: 100%;
	text-align: center;
    left: 0;
	bottom: 16px;
    
}

.scrollDownBtn{
	margin: auto;
	color: #c9c9c9;
	-webkit-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
	width: 100px;
	height: 62px;
    cursor: pointer;
	padding: 6px;
}
.scrollDownBtn:hover{
	color: #fff;
}
.bp_tm{
	position: relative;
	border: 1px solid green;
}
.bp_tm:after{
    content: "TM";
    display: inline-block;
    border: 1px solid red;
    position: absolute;
    font-size: 18px;
    top: -16px;
    right: -27px;
}


@media screen and (min-width: 767px) {
	.breakwordController{
		display: block;
	}
}

@media screen and (max-width: 1500px) {

    .lead_title {
        font-size: 50px;
    }
    .subtitle_smScreen{
        font-size: 22px;
    }

}


@media screen and (max-width: 1240px) {
    .lead_title {
        font-size: 48px;
    }
    .subtitle_smScreen{
        font-size: 20px;
    }

}


@media screen and (max-width: 991px){
    .lead_title{
        font-size:48px;
   }
   .subtitle_smScreen{
        font-size:24px;
    }
	
	
}

@media screen and (max-width: 680px), screen and (max-height: 680px){
    .lead_title {
        font-size: 36px;
    	margin-bottom: 20px;
    }
    .subtitle_smScreen {
        display: none;
    }
    .home_subtitle_sm {
        font-size: 18px;
    }
    .home_login_wrap {
        margin-top: 50px;
    }
}



@media screen and (max-width: 320px){
    .lead_title {
        font-size: 22px;
    }
	.home_login_wrap {
		margin-top: 15px;
	}
	.home_subtitle_sm{
		margin: 0;
	}
	.lead_title{
		margin-bottom: 15px;
	}
}
.read-about-bigpicture{
	list-style: none;
	margin: 0 0 16px 0;
}
.read-about-bigpicture li{
	display: inline-block;
	padding: 0 10px;
	margin: 5px;
}
.read-about-bigpicture li:hover{
	opacity: 0.8;
}
