/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background: 0 0
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: myriad-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: rgba(0,0,0,0.7);
    background-color: #fff
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #428bca;
    text-decoration: none
}

a:hover,
a:focus {
    color: #2a6496;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

figure {
    margin: 0
}

img {
    vertical-align: middle
}

.img-responsive {
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto
}

.img-rounded {
    border-radius: 6px
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.6;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    width: 100% \9;
    max-width: 100%;
    height: auto
}

.img-circle {
    border-radius: 50%
}

hr {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 0;
    border-top: 1px solid #eee
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color: #333
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
    font-weight: 400;
    line-height: 1;
    color: #777
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 24px;
    margin-bottom: 12px
}

h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
    font-size: 65%
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 12px;
    margin-bottom: 12px
}

h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
    font-size: 75%
}

h1,
.h1 {
    font-size: 38px
}

h2,
.h2 {
    font-size: 32px
}

h3,
.h3 {
    font-size: 26px
}

h4,
.h4 {
    font-size: 21px
}

h5,
.h5 {
    font-size: 15px
}

h6,
.h6 {
    font-size: 13px
}

p {
    margin: 0 0 12px
}

.lead {
    margin-bottom: 24px;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.4
}

@media (min-width:768px) {
    .lead {
        font-size: 22.5px
    }
}

small,
.small {
    font-size: 86%
}

cite {
    font-style: normal
}

mark,
.mark {
    background-color: #fcf8e3;
    padding: .2em
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.text-justify {
    text-align: justify
}

.text-nowrap {
    white-space: nowrap
}

.text-lowercase {
    text-transform: lowercase
}

.text-uppercase {
    text-transform: uppercase
}

.text-capitalize {
    text-transform: capitalize
}

.text-muted {
    color: #777
}

.text-primary {
    color: #428bca
}

a.text-primary:hover {
    color: #3071a9
}

.text-success {
    color: #4cae4c
}

a.text-success:hover {
    color: #3d8b3d
}

.text-info {
    color: #46b8da
}

a.text-info:hover {
    color: #28a1c5
}

.text-warning {
    color: #eea236
}

a.text-warning:hover {
    color: #df8a13
}

.text-danger {
    color: #d43f3a
}

a.text-danger:hover {
    color: #b52b27
}

.bg-primary {
    color: #fff;
    background-color: #428bca
}

a.bg-primary:hover {
    background-color: #3071a9
}

.bg-success {
    background-color: #dff0d8
}

a.bg-success:hover {
    background-color: #c1e2b3
}

.bg-info {
    background-color: #d9edf7
}

a.bg-info:hover {
    background-color: #afd9ee
}

.bg-warning {
    background-color: #fcf8e3
}

a.bg-warning:hover {
    background-color: #f7ecb5
}

.bg-danger {
    background-color: #f2dede
}

a.bg-danger:hover {
    background-color: #e4b9b9
}

.page-header {
    padding-bottom: 11px;
    margin: 48px 0 24px;
    border-bottom: 1px solid #eee
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 12px
}

ul ul,
ol ul,
ul ol,
ol ol {
    margin-bottom: 0
}

.list-unstyled {
    padding-left: 0;
    list-style: none
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px
}

.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px
}

dl {
    margin-top: 0;
    margin-bottom: 24px
}

dt,
dd {
    line-height: 1.6
}

dt {
    font-weight: 700
}

dd {
    margin-left: 0
}

@media (min-width:768px) {
    .dl-horizontal dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }
    .dl-horizontal dd {
        margin-left: 180px
    }
}

abbr[title],
abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #777
}

.initialism {
    font-size: 90%;
    text-transform: uppercase
}

blockquote {
    padding: 12px 24px;
    margin: 0 0 24px;
    font-size: 18.75px;
    border-left: 5px solid #eee
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
    margin-bottom: 0
}

blockquote footer,
blockquote small,
blockquote .small {
    display: block;
    font-size: 80%;
    line-height: 1.6;
    color: #777
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
    content: '\2014 \00A0'
}

.blockquote-reverse,
blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #eee;
    border-left: 0;
    text-align: right
}

.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
    content: ''
}

.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
    content: '\00A0 \2014'
}

blockquote:before,
blockquote:after {
    content: ""
}

address {
    margin-bottom: 24px;
    font-style: normal;
    line-height: 1.6
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px
}

@media (min-width:768px) {
    .container {
        width: 730px
    }
}

@media (min-width:992px) {
    .container {
        width: 950px
    }
}

@media (min-width:1200px) {
    .container {
        width: 950px
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px
}

.row {
    margin-left: -5px;
    margin-right: -5px
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12,
.col-xs-13,
.col-sm-13,
.col-md-13,
.col-lg-13,
.col-xs-14,
.col-sm-14,
.col-md-14,
.col-lg-14,
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15,
.col-xs-16,
.col-sm-16,
.col-md-16,
.col-lg-16,
.col-xs-17,
.col-sm-17,
.col-md-17,
.col-lg-17,
.col-xs-18,
.col-sm-18,
.col-md-18,
.col-lg-18,
.col-xs-19,
.col-sm-19,
.col-md-19,
.col-lg-19,
.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20,
.col-xs-21,
.col-sm-21,
.col-md-21,
.col-lg-21,
.col-xs-22,
.col-sm-22,
.col-md-22,
.col-lg-22,
.col-xs-23,
.col-sm-23,
.col-md-23,
.col-lg-23,
.col-xs-24,
.col-sm-24,
.col-md-24,
.col-lg-24,
.col-xs-25,
.col-sm-25,
.col-md-25,
.col-lg-25,
.col-xs-26,
.col-sm-26,
.col-md-26,
.col-lg-26,
.col-xs-27,
.col-sm-27,
.col-md-27,
.col-lg-27,
.col-xs-28,
.col-sm-28,
.col-md-28,
.col-lg-28,
.col-xs-29,
.col-sm-29,
.col-md-29,
.col-lg-29,
.col-xs-30,
.col-sm-30,
.col-md-30,
.col-lg-30,
.col-xs-31,
.col-sm-31,
.col-md-31,
.col-lg-31,
.col-xs-32,
.col-sm-32,
.col-md-32,
.col-lg-32,
.col-xs-33,
.col-sm-33,
.col-md-33,
.col-lg-33,
.col-xs-34,
.col-sm-34,
.col-md-34,
.col-lg-34,
.col-xs-35,
.col-sm-35,
.col-md-35,
.col-lg-35,
.col-xs-36,
.col-sm-36,
.col-md-36,
.col-lg-36 {
    position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-13,
.col-xs-14,
.col-xs-15,
.col-xs-16,
.col-xs-17,
.col-xs-18,
.col-xs-19,
.col-xs-20,
.col-xs-21,
.col-xs-22,
.col-xs-23,
.col-xs-24,
.col-xs-25,
.col-xs-26,
.col-xs-27,
.col-xs-28,
.col-xs-29,
.col-xs-30,
.col-xs-31,
.col-xs-32,
.col-xs-33,
.col-xs-34,
.col-xs-35,
.col-xs-36 {
    float: left
}

.col-xs-36 {
    width: 100%
}

.col-xs-35 {
    width: 97.22222222%
}

.col-xs-34 {
    width: 94.44444444%
}

.col-xs-33 {
    width: 91.66666667%
}

.col-xs-32 {
    width: 88.88888889%
}

.col-xs-31 {
    width: 86.11111111%
}

.col-xs-30 {
    width: 83.33333333%
}

.col-xs-29 {
    width: 80.55555556%
}

.col-xs-28 {
    width: 77.77777778%
}

.col-xs-27 {
    width: 75%
}

.col-xs-26 {
    width: 72.22222222%
}

.col-xs-25 {
    width: 69.44444444%
}

.col-xs-24 {
    width: 66.66666667%
}

.col-xs-23 {
    width: 63.88888889%
}

.col-xs-22 {
    width: 61.11111111%
}

.col-xs-21 {
    width: 58.33333333%
}

.col-xs-20 {
    width: 55.55555556%
}

.col-xs-19 {
    width: 52.77777778%
}

.col-xs-18 {
    width: 50%
}

.col-xs-17 {
    width: 47.22222222%
}

.col-xs-16 {
    width: 44.44444444%
}

.col-xs-15 {
    width: 41.66666667%
}

.col-xs-14 {
    width: 38.88888889%
}

.col-xs-13 {
    width: 36.11111111%
}

.col-xs-12 {
    width: 33.33333333%
}

.col-xs-11 {
    width: 30.55555556%
}

.col-xs-10 {
    width: 27.77777778%
}

.col-xs-9 {
    width: 25%
}

.col-xs-8 {
    width: 22.22222222%
}

.col-xs-7 {
    width: 19.44444444%
}

.col-xs-6 {
    width: 16.66666667%
}

.col-xs-5 {
    width: 13.88888889%
}

.col-xs-4 {
    width: 11.11111111%
}

.col-xs-3 {
    width: 8.33333333%
}

.col-xs-2 {
    width: 5.55555556%
}

.col-xs-1 {
    width: 2.77777778%
}

.col-xs-pull-36 {
    right: 100%
}

.col-xs-pull-35 {
    right: 97.22222222%
}

.col-xs-pull-34 {
    right: 94.44444444%
}

.col-xs-pull-33 {
    right: 91.66666667%
}

.col-xs-pull-32 {
    right: 88.88888889%
}

.col-xs-pull-31 {
    right: 86.11111111%
}

.col-xs-pull-30 {
    right: 83.33333333%
}

.col-xs-pull-29 {
    right: 80.55555556%
}

.col-xs-pull-28 {
    right: 77.77777778%
}

.col-xs-pull-27 {
    right: 75%
}

.col-xs-pull-26 {
    right: 72.22222222%
}

.col-xs-pull-25 {
    right: 69.44444444%
}

.col-xs-pull-24 {
    right: 66.66666667%
}

.col-xs-pull-23 {
    right: 63.88888889%
}

.col-xs-pull-22 {
    right: 61.11111111%
}

.col-xs-pull-21 {
    right: 58.33333333%
}

.col-xs-pull-20 {
    right: 55.55555556%
}

.col-xs-pull-19 {
    right: 52.77777778%
}

.col-xs-pull-18 {
    right: 50%
}

.col-xs-pull-17 {
    right: 47.22222222%
}

.col-xs-pull-16 {
    right: 44.44444444%
}

.col-xs-pull-15 {
    right: 41.66666667%
}

.col-xs-pull-14 {
    right: 38.88888889%
}

.col-xs-pull-13 {
    right: 36.11111111%
}

.col-xs-pull-12 {
    right: 33.33333333%
}

.col-xs-pull-11 {
    right: 30.55555556%
}

.col-xs-pull-10 {
    right: 27.77777778%
}

.col-xs-pull-9 {
    right: 25%
}

.col-xs-pull-8 {
    right: 22.22222222%
}

.col-xs-pull-7 {
    right: 19.44444444%
}

.col-xs-pull-6 {
    right: 16.66666667%
}

.col-xs-pull-5 {
    right: 13.88888889%
}

.col-xs-pull-4 {
    right: 11.11111111%
}

.col-xs-pull-3 {
    right: 8.33333333%
}

.col-xs-pull-2 {
    right: 5.55555556%
}

.col-xs-pull-1 {
    right: 2.77777778%
}

.col-xs-pull-0 {
    right: auto
}

.col-xs-push-36 {
    left: 100%
}

.col-xs-push-35 {
    left: 97.22222222%
}

.col-xs-push-34 {
    left: 94.44444444%
}

.col-xs-push-33 {
    left: 91.66666667%
}

.col-xs-push-32 {
    left: 88.88888889%
}

.col-xs-push-31 {
    left: 86.11111111%
}

.col-xs-push-30 {
    left: 83.33333333%
}

.col-xs-push-29 {
    left: 80.55555556%
}

.col-xs-push-28 {
    left: 77.77777778%
}

.col-xs-push-27 {
    left: 75%
}

.col-xs-push-26 {
    left: 72.22222222%
}

.col-xs-push-25 {
    left: 69.44444444%
}

.col-xs-push-24 {
    left: 66.66666667%
}

.col-xs-push-23 {
    left: 63.88888889%
}

.col-xs-push-22 {
    left: 61.11111111%
}

.col-xs-push-21 {
    left: 58.33333333%
}

.col-xs-push-20 {
    left: 55.55555556%
}

.col-xs-push-19 {
    left: 52.77777778%
}

.col-xs-push-18 {
    left: 50%
}

.col-xs-push-17 {
    left: 47.22222222%
}

.col-xs-push-16 {
    left: 44.44444444%
}

.col-xs-push-15 {
    left: 41.66666667%
}

.col-xs-push-14 {
    left: 38.88888889%
}

.col-xs-push-13 {
    left: 36.11111111%
}

.col-xs-push-12 {
    left: 33.33333333%
}

.col-xs-push-11 {
    left: 30.55555556%
}

.col-xs-push-10 {
    left: 27.77777778%
}

.col-xs-push-9 {
    left: 25%
}

.col-xs-push-8 {
    left: 22.22222222%
}

.col-xs-push-7 {
    left: 19.44444444%
}

.col-xs-push-6 {
    left: 16.66666667%
}

.col-xs-push-5 {
    left: 13.88888889%
}

.col-xs-push-4 {
    left: 11.11111111%
}

.col-xs-push-3 {
    left: 8.33333333%
}

.col-xs-push-2 {
    left: 5.55555556%
}

.col-xs-push-1 {
    left: 2.77777778%
}

.col-xs-push-0 {
    left: auto
}

.col-xs-offset-36 {
    margin-left: 100%
}

.col-xs-offset-35 {
    margin-left: 97.22222222%
}

.col-xs-offset-34 {
    margin-left: 94.44444444%
}

.col-xs-offset-33 {
    margin-left: 91.66666667%
}

.col-xs-offset-32 {
    margin-left: 88.88888889%
}

.col-xs-offset-31 {
    margin-left: 86.11111111%
}

.col-xs-offset-30 {
    margin-left: 83.33333333%
}

.col-xs-offset-29 {
    margin-left: 80.55555556%
}

.col-xs-offset-28 {
    margin-left: 77.77777778%
}

.col-xs-offset-27 {
    margin-left: 75%
}

.col-xs-offset-26 {
    margin-left: 72.22222222%
}

.col-xs-offset-25 {
    margin-left: 69.44444444%
}

.col-xs-offset-24 {
    margin-left: 66.66666667%
}

.col-xs-offset-23 {
    margin-left: 63.88888889%
}

.col-xs-offset-22 {
    margin-left: 61.11111111%
}

.col-xs-offset-21 {
    margin-left: 58.33333333%
}

.col-xs-offset-20 {
    margin-left: 55.55555556%
}

.col-xs-offset-19 {
    margin-left: 52.77777778%
}

.col-xs-offset-18 {
    margin-left: 50%
}

.col-xs-offset-17 {
    margin-left: 47.22222222%
}

.col-xs-offset-16 {
    margin-left: 44.44444444%
}

.col-xs-offset-15 {
    margin-left: 41.66666667%
}

.col-xs-offset-14 {
    margin-left: 38.88888889%
}

.col-xs-offset-13 {
    margin-left: 36.11111111%
}

.col-xs-offset-12 {
    margin-left: 33.33333333%
}

.col-xs-offset-11 {
    margin-left: 30.55555556%
}

.col-xs-offset-10 {
    margin-left: 27.77777778%
}

.col-xs-offset-9 {
    margin-left: 25%
}

.col-xs-offset-8 {
    margin-left: 22.22222222%
}

.col-xs-offset-7 {
    margin-left: 19.44444444%
}

.col-xs-offset-6 {
    margin-left: 16.66666667%
}

.col-xs-offset-5 {
    margin-left: 13.88888889%
}

.col-xs-offset-4 {
    margin-left: 11.11111111%
}

.col-xs-offset-3 {
    margin-left: 8.33333333%
}

.col-xs-offset-2 {
    margin-left: 5.55555556%
}

.col-xs-offset-1 {
    margin-left: 2.77777778%
}

.col-xs-offset-0 {
    margin-left: 0
}

@media (min-width:768px) {
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-13,
    .col-sm-14,
    .col-sm-15,
    .col-sm-16,
    .col-sm-17,
    .col-sm-18,
    .col-sm-19,
    .col-sm-20,
    .col-sm-21,
    .col-sm-22,
    .col-sm-23,
    .col-sm-24,
    .col-sm-25,
    .col-sm-26,
    .col-sm-27,
    .col-sm-28,
    .col-sm-29,
    .col-sm-30,
    .col-sm-31,
    .col-sm-32,
    .col-sm-33,
    .col-sm-34,
    .col-sm-35,
    .col-sm-36 {
        float: left
    }
    .col-sm-36 {
        width: 100%
    }
    .col-sm-35 {
        width: 97.22222222%
    }
    .col-sm-34 {
        width: 94.44444444%
    }
    .col-sm-33 {
        width: 91.66666667%
    }
    .col-sm-32 {
        width: 88.88888889%
    }
    .col-sm-31 {
        width: 86.11111111%
    }
    .col-sm-30 {
        width: 83.33333333%
    }
    .col-sm-29 {
        width: 80.55555556%
    }
    .col-sm-28 {
        width: 77.77777778%
    }
    .col-sm-27 {
        width: 75%
    }
    .col-sm-26 {
        width: 72.22222222%
    }
    .col-sm-25 {
        width: 69.44444444%
    }
    .col-sm-24 {
        width: 66.66666667%
    }
    .col-sm-23 {
        width: 63.88888889%
    }
    .col-sm-22 {
        width: 61.11111111%
    }
    .col-sm-21 {
        width: 58.33333333%
    }
    .col-sm-20 {
        width: 55.55555556%
    }
    .col-sm-19 {
        width: 52.77777778%
    }
    .col-sm-18 {
        width: 50%
    }
    .col-sm-17 {
        width: 47.22222222%
    }
    .col-sm-16 {
        width: 44.44444444%
    }
    .col-sm-15 {
        width: 41.66666667%
    }
    .col-sm-14 {
        width: 38.88888889%
    }
    .col-sm-13 {
        width: 36.11111111%
    }
    .col-sm-12 {
        width: 33.33333333%
    }
    .col-sm-11 {
        width: 30.55555556%
    }
    .col-sm-10 {
        width: 27.77777778%
    }
    .col-sm-9 {
        width: 25%
    }
    .col-sm-8 {
        width: 22.22222222%
    }
    .col-sm-7 {
        width: 19.44444444%
    }
    .col-sm-6 {
        width: 16.66666667%
    }
    .col-sm-5 {
        width: 13.88888889%
    }
    .col-sm-4 {
        width: 11.11111111%
    }
    .col-sm-3 {
        width: 8.33333333%
    }
    .col-sm-2 {
        width: 5.55555556%
    }
    .col-sm-1 {
        width: 2.77777778%
    }
    .col-sm-pull-36 {
        right: 100%
    }
    .col-sm-pull-35 {
        right: 97.22222222%
    }
    .col-sm-pull-34 {
        right: 94.44444444%
    }
    .col-sm-pull-33 {
        right: 91.66666667%
    }
    .col-sm-pull-32 {
        right: 88.88888889%
    }
    .col-sm-pull-31 {
        right: 86.11111111%
    }
    .col-sm-pull-30 {
        right: 83.33333333%
    }
    .col-sm-pull-29 {
        right: 80.55555556%
    }
    .col-sm-pull-28 {
        right: 77.77777778%
    }
    .col-sm-pull-27 {
        right: 75%
    }
    .col-sm-pull-26 {
        right: 72.22222222%
    }
    .col-sm-pull-25 {
        right: 69.44444444%
    }
    .col-sm-pull-24 {
        right: 66.66666667%
    }
    .col-sm-pull-23 {
        right: 63.88888889%
    }
    .col-sm-pull-22 {
        right: 61.11111111%
    }
    .col-sm-pull-21 {
        right: 58.33333333%
    }
    .col-sm-pull-20 {
        right: 55.55555556%
    }
    .col-sm-pull-19 {
        right: 52.77777778%
    }
    .col-sm-pull-18 {
        right: 50%
    }
    .col-sm-pull-17 {
        right: 47.22222222%
    }
    .col-sm-pull-16 {
        right: 44.44444444%
    }
    .col-sm-pull-15 {
        right: 41.66666667%
    }
    .col-sm-pull-14 {
        right: 38.88888889%
    }
    .col-sm-pull-13 {
        right: 36.11111111%
    }
    .col-sm-pull-12 {
        right: 33.33333333%
    }
    .col-sm-pull-11 {
        right: 30.55555556%
    }
    .col-sm-pull-10 {
        right: 27.77777778%
    }
    .col-sm-pull-9 {
        right: 25%
    }
    .col-sm-pull-8 {
        right: 22.22222222%
    }
    .col-sm-pull-7 {
        right: 19.44444444%
    }
    .col-sm-pull-6 {
        right: 16.66666667%
    }
    .col-sm-pull-5 {
        right: 13.88888889%
    }
    .col-sm-pull-4 {
        right: 11.11111111%
    }
    .col-sm-pull-3 {
        right: 8.33333333%
    }
    .col-sm-pull-2 {
        right: 5.55555556%
    }
    .col-sm-pull-1 {
        right: 2.77777778%
    }
    .col-sm-pull-0 {
        right: auto
    }
    .col-sm-push-36 {
        left: 100%
    }
    .col-sm-push-35 {
        left: 97.22222222%
    }
    .col-sm-push-34 {
        left: 94.44444444%
    }
    .col-sm-push-33 {
        left: 91.66666667%
    }
    .col-sm-push-32 {
        left: 88.88888889%
    }
    .col-sm-push-31 {
        left: 86.11111111%
    }
    .col-sm-push-30 {
        left: 83.33333333%
    }
    .col-sm-push-29 {
        left: 80.55555556%
    }
    .col-sm-push-28 {
        left: 77.77777778%
    }
    .col-sm-push-27 {
        left: 75%
    }
    .col-sm-push-26 {
        left: 72.22222222%
    }
    .col-sm-push-25 {
        left: 69.44444444%
    }
    .col-sm-push-24 {
        left: 66.66666667%
    }
    .col-sm-push-23 {
        left: 63.88888889%
    }
    .col-sm-push-22 {
        left: 61.11111111%
    }
    .col-sm-push-21 {
        left: 58.33333333%
    }
    .col-sm-push-20 {
        left: 55.55555556%
    }
    .col-sm-push-19 {
        left: 52.77777778%
    }
    .col-sm-push-18 {
        left: 50%
    }
    .col-sm-push-17 {
        left: 47.22222222%
    }
    .col-sm-push-16 {
        left: 44.44444444%
    }
    .col-sm-push-15 {
        left: 41.66666667%
    }
    .col-sm-push-14 {
        left: 38.88888889%
    }
    .col-sm-push-13 {
        left: 36.11111111%
    }
    .col-sm-push-12 {
        left: 33.33333333%
    }
    .col-sm-push-11 {
        left: 30.55555556%
    }
    .col-sm-push-10 {
        left: 27.77777778%
    }
    .col-sm-push-9 {
        left: 25%
    }
    .col-sm-push-8 {
        left: 22.22222222%
    }
    .col-sm-push-7 {
        left: 19.44444444%
    }
    .col-sm-push-6 {
        left: 16.66666667%
    }
    .col-sm-push-5 {
        left: 13.88888889%
    }
    .col-sm-push-4 {
        left: 11.11111111%
    }
    .col-sm-push-3 {
        left: 8.33333333%
    }
    .col-sm-push-2 {
        left: 5.55555556%
    }
    .col-sm-push-1 {
        left: 2.77777778%
    }
    .col-sm-push-0 {
        left: auto
    }
    .col-sm-offset-36 {
        margin-left: 100%
    }
    .col-sm-offset-35 {
        margin-left: 97.22222222%
    }
    .col-sm-offset-34 {
        margin-left: 94.44444444%
    }
    .col-sm-offset-33 {
        margin-left: 91.66666667%
    }
    .col-sm-offset-32 {
        margin-left: 88.88888889%
    }
    .col-sm-offset-31 {
        margin-left: 86.11111111%
    }
    .col-sm-offset-30 {
        margin-left: 83.33333333%
    }
    .col-sm-offset-29 {
        margin-left: 80.55555556%
    }
    .col-sm-offset-28 {
        margin-left: 77.77777778%
    }
    .col-sm-offset-27 {
        margin-left: 75%
    }
    .col-sm-offset-26 {
        margin-left: 72.22222222%
    }
    .col-sm-offset-25 {
        margin-left: 69.44444444%
    }
    .col-sm-offset-24 {
        margin-left: 66.66666667%
    }
    .col-sm-offset-23 {
        margin-left: 63.88888889%
    }
    .col-sm-offset-22 {
        margin-left: 61.11111111%
    }
    .col-sm-offset-21 {
        margin-left: 58.33333333%
    }
    .col-sm-offset-20 {
        margin-left: 55.55555556%
    }
    .col-sm-offset-19 {
        margin-left: 52.77777778%
    }
    .col-sm-offset-18 {
        margin-left: 50%
    }
    .col-sm-offset-17 {
        margin-left: 47.22222222%
    }
    .col-sm-offset-16 {
        margin-left: 44.44444444%
    }
    .col-sm-offset-15 {
        margin-left: 41.66666667%
    }
    .col-sm-offset-14 {
        margin-left: 38.88888889%
    }
    .col-sm-offset-13 {
        margin-left: 36.11111111%
    }
    .col-sm-offset-12 {
        margin-left: 33.33333333%
    }
    .col-sm-offset-11 {
        margin-left: 30.55555556%
    }
    .col-sm-offset-10 {
        margin-left: 27.77777778%
    }
    .col-sm-offset-9 {
        margin-left: 25%
    }
    .col-sm-offset-8 {
        margin-left: 22.22222222%
    }
    .col-sm-offset-7 {
        margin-left: 19.44444444%
    }
    .col-sm-offset-6 {
        margin-left: 16.66666667%
    }
    .col-sm-offset-5 {
        margin-left: 13.88888889%
    }
    .col-sm-offset-4 {
        margin-left: 11.11111111%
    }
    .col-sm-offset-3 {
        margin-left: 8.33333333%
    }
    .col-sm-offset-2 {
        margin-left: 5.55555556%
    }
    .col-sm-offset-1 {
        margin-left: 2.77777778%
    }
    .col-sm-offset-0 {
        margin-left: 0
    }
}

@media (min-width:992px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-13,
    .col-md-14,
    .col-md-15,
    .col-md-16,
    .col-md-17,
    .col-md-18,
    .col-md-19,
    .col-md-20,
    .col-md-21,
    .col-md-22,
    .col-md-23,
    .col-md-24,
    .col-md-25,
    .col-md-26,
    .col-md-27,
    .col-md-28,
    .col-md-29,
    .col-md-30,
    .col-md-31,
    .col-md-32,
    .col-md-33,
    .col-md-34,
    .col-md-35,
    .col-md-36 {
        float: left
    }
    .col-md-36 {
        width: 100%
    }
    .col-md-35 {
        width: 97.22222222%
    }
    .col-md-34 {
        width: 94.44444444%
    }
    .col-md-33 {
        width: 91.66666667%
    }
    .col-md-32 {
        width: 88.88888889%
    }
    .col-md-31 {
        width: 86.11111111%
    }
    .col-md-30 {
        width: 83.33333333%
    }
    .col-md-29 {
        width: 80.55555556%
    }
    .col-md-28 {
        width: 77.77777778%
    }
    .col-md-27 {
        width: 75%
    }
    .col-md-26 {
        width: 72.22222222%
    }
    .col-md-25 {
        width: 69.44444444%
    }
    .col-md-24 {
        width: 66.66666667%
    }
    .col-md-23 {
        width: 63.88888889%
    }
    .col-md-22 {
        width: 61.11111111%
    }
    .col-md-21 {
        width: 58.33333333%
    }
    .col-md-20 {
        width: 55.55555556%
    }
    .col-md-19 {
        width: 52.77777778%
    }
    .col-md-18 {
        width: 50%
    }
    .col-md-17 {
        width: 47.22222222%
    }
    .col-md-16 {
        width: 44.44444444%
    }
    .col-md-15 {
        width: 41.66666667%
    }
    .col-md-14 {
        width: 38.88888889%
    }
    .col-md-13 {
        width: 36.11111111%
    }
    .col-md-12 {
        width: 33.33333333%
    }
    .col-md-11 {
        width: 30.55555556%
    }
    .col-md-10 {
        width: 27.77777778%
    }
    .col-md-9 {
        width: 25%
    }
    .col-md-8 {
        width: 22.22222222%
    }
    .col-md-7 {
        width: 19.44444444%
    }
    .col-md-6 {
        width: 16.66666667%
    }
    .col-md-5 {
        width: 13.88888889%
    }
    .col-md-4 {
        width: 11.11111111%
    }
    .col-md-3 {
        width: 8.33333333%
    }
    .col-md-2 {
        width: 5.55555556%
    }
    .col-md-1 {
        width: 2.77777778%
    }
    .col-md-pull-36 {
        right: 100%
    }
    .col-md-pull-35 {
        right: 97.22222222%
    }
    .col-md-pull-34 {
        right: 94.44444444%
    }
    .col-md-pull-33 {
        right: 91.66666667%
    }
    .col-md-pull-32 {
        right: 88.88888889%
    }
    .col-md-pull-31 {
        right: 86.11111111%
    }
    .col-md-pull-30 {
        right: 83.33333333%
    }
    .col-md-pull-29 {
        right: 80.55555556%
    }
    .col-md-pull-28 {
        right: 77.77777778%
    }
    .col-md-pull-27 {
        right: 75%
    }
    .col-md-pull-26 {
        right: 72.22222222%
    }
    .col-md-pull-25 {
        right: 69.44444444%
    }
    .col-md-pull-24 {
        right: 66.66666667%
    }
    .col-md-pull-23 {
        right: 63.88888889%
    }
    .col-md-pull-22 {
        right: 61.11111111%
    }
    .col-md-pull-21 {
        right: 58.33333333%
    }
    .col-md-pull-20 {
        right: 55.55555556%
    }
    .col-md-pull-19 {
        right: 52.77777778%
    }
    .col-md-pull-18 {
        right: 50%
    }
    .col-md-pull-17 {
        right: 47.22222222%
    }
    .col-md-pull-16 {
        right: 44.44444444%
    }
    .col-md-pull-15 {
        right: 41.66666667%
    }
    .col-md-pull-14 {
        right: 38.88888889%
    }
    .col-md-pull-13 {
        right: 36.11111111%
    }
    .col-md-pull-12 {
        right: 33.33333333%
    }
    .col-md-pull-11 {
        right: 30.55555556%
    }
    .col-md-pull-10 {
        right: 27.77777778%
    }
    .col-md-pull-9 {
        right: 25%
    }
    .col-md-pull-8 {
        right: 22.22222222%
    }
    .col-md-pull-7 {
        right: 19.44444444%
    }
    .col-md-pull-6 {
        right: 16.66666667%
    }
    .col-md-pull-5 {
        right: 13.88888889%
    }
    .col-md-pull-4 {
        right: 11.11111111%
    }
    .col-md-pull-3 {
        right: 8.33333333%
    }
    .col-md-pull-2 {
        right: 5.55555556%
    }
    .col-md-pull-1 {
        right: 2.77777778%
    }
    .col-md-pull-0 {
        right: auto
    }
    .col-md-push-36 {
        left: 100%
    }
    .col-md-push-35 {
        left: 97.22222222%
    }
    .col-md-push-34 {
        left: 94.44444444%
    }
    .col-md-push-33 {
        left: 91.66666667%
    }
    .col-md-push-32 {
        left: 88.88888889%
    }
    .col-md-push-31 {
        left: 86.11111111%
    }
    .col-md-push-30 {
        left: 83.33333333%
    }
    .col-md-push-29 {
        left: 80.55555556%
    }
    .col-md-push-28 {
        left: 77.77777778%
    }
    .col-md-push-27 {
        left: 75%
    }
    .col-md-push-26 {
        left: 72.22222222%
    }
    .col-md-push-25 {
        left: 69.44444444%
    }
    .col-md-push-24 {
        left: 66.66666667%
    }
    .col-md-push-23 {
        left: 63.88888889%
    }
    .col-md-push-22 {
        left: 61.11111111%
    }
    .col-md-push-21 {
        left: 58.33333333%
    }
    .col-md-push-20 {
        left: 55.55555556%
    }
    .col-md-push-19 {
        left: 52.77777778%
    }
    .col-md-push-18 {
        left: 50%
    }
    .col-md-push-17 {
        left: 47.22222222%
    }
    .col-md-push-16 {
        left: 44.44444444%
    }
    .col-md-push-15 {
        left: 41.66666667%
    }
    .col-md-push-14 {
        left: 38.88888889%
    }
    .col-md-push-13 {
        left: 36.11111111%
    }
    .col-md-push-12 {
        left: 33.33333333%
    }
    .col-md-push-11 {
        left: 30.55555556%
    }
    .col-md-push-10 {
        left: 27.77777778%
    }
    .col-md-push-9 {
        left: 25%
    }
    .col-md-push-8 {
        left: 22.22222222%
    }
    .col-md-push-7 {
        left: 19.44444444%
    }
    .col-md-push-6 {
        left: 16.66666667%
    }
    .col-md-push-5 {
        left: 13.88888889%
    }
    .col-md-push-4 {
        left: 11.11111111%
    }
    .col-md-push-3 {
        left: 8.33333333%
    }
    .col-md-push-2 {
        left: 5.55555556%
    }
    .col-md-push-1 {
        left: 2.77777778%
    }
    .col-md-push-0 {
        left: auto
    }
    .col-md-offset-36 {
        margin-left: 100%
    }
    .col-md-offset-35 {
        margin-left: 97.22222222%
    }
    .col-md-offset-34 {
        margin-left: 94.44444444%
    }
    .col-md-offset-33 {
        margin-left: 91.66666667%
    }
    .col-md-offset-32 {
        margin-left: 88.88888889%
    }
    .col-md-offset-31 {
        margin-left: 86.11111111%
    }
    .col-md-offset-30 {
        margin-left: 83.33333333%
    }
    .col-md-offset-29 {
        margin-left: 80.55555556%
    }
    .col-md-offset-28 {
        margin-left: 77.77777778%
    }
    .col-md-offset-27 {
        margin-left: 75%
    }
    .col-md-offset-26 {
        margin-left: 72.22222222%
    }
    .col-md-offset-25 {
        margin-left: 69.44444444%
    }
    .col-md-offset-24 {
        margin-left: 66.66666667%
    }
    .col-md-offset-23 {
        margin-left: 63.88888889%
    }
    .col-md-offset-22 {
        margin-left: 61.11111111%
    }
    .col-md-offset-21 {
        margin-left: 58.33333333%
    }
    .col-md-offset-20 {
        margin-left: 55.55555556%
    }
    .col-md-offset-19 {
        margin-left: 52.77777778%
    }
    .col-md-offset-18 {
        margin-left: 50%
    }
    .col-md-offset-17 {
        margin-left: 47.22222222%
    }
    .col-md-offset-16 {
        margin-left: 44.44444444%
    }
    .col-md-offset-15 {
        margin-left: 41.66666667%
    }
    .col-md-offset-14 {
        margin-left: 38.88888889%
    }
    .col-md-offset-13 {
        margin-left: 36.11111111%
    }
    .col-md-offset-12 {
        margin-left: 33.33333333%
    }
    .col-md-offset-11 {
        margin-left: 30.55555556%
    }
    .col-md-offset-10 {
        margin-left: 27.77777778%
    }
    .col-md-offset-9 {
        margin-left: 25%
    }
    .col-md-offset-8 {
        margin-left: 22.22222222%
    }
    .col-md-offset-7 {
        margin-left: 19.44444444%
    }
    .col-md-offset-6 {
        margin-left: 16.66666667%
    }
    .col-md-offset-5 {
        margin-left: 13.88888889%
    }
    .col-md-offset-4 {
        margin-left: 11.11111111%
    }
    .col-md-offset-3 {
        margin-left: 8.33333333%
    }
    .col-md-offset-2 {
        margin-left: 5.55555556%
    }
    .col-md-offset-1 {
        margin-left: 2.77777778%
    }
    .col-md-offset-0 {
        margin-left: 0
    }
}

@media (min-width:1200px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-13,
    .col-lg-14,
    .col-lg-15,
    .col-lg-16,
    .col-lg-17,
    .col-lg-18,
    .col-lg-19,
    .col-lg-20,
    .col-lg-21,
    .col-lg-22,
    .col-lg-23,
    .col-lg-24,
    .col-lg-25,
    .col-lg-26,
    .col-lg-27,
    .col-lg-28,
    .col-lg-29,
    .col-lg-30,
    .col-lg-31,
    .col-lg-32,
    .col-lg-33,
    .col-lg-34,
    .col-lg-35,
    .col-lg-36 {
        float: left
    }
    .col-lg-36 {
        width: 100%
    }
    .col-lg-35 {
        width: 97.22222222%
    }
    .col-lg-34 {
        width: 94.44444444%
    }
    .col-lg-33 {
        width: 91.66666667%
    }
    .col-lg-32 {
        width: 88.88888889%
    }
    .col-lg-31 {
        width: 86.11111111%
    }
    .col-lg-30 {
        width: 83.33333333%
    }
    .col-lg-29 {
        width: 80.55555556%
    }
    .col-lg-28 {
        width: 77.77777778%
    }
    .col-lg-27 {
        width: 75%
    }
    .col-lg-26 {
        width: 72.22222222%
    }
    .col-lg-25 {
        width: 69.44444444%
    }
    .col-lg-24 {
        width: 66.66666667%
    }
    .col-lg-23 {
        width: 63.88888889%
    }
    .col-lg-22 {
        width: 61.11111111%
    }
    .col-lg-21 {
        width: 58.33333333%
    }
    .col-lg-20 {
        width: 55.55555556%
    }
    .col-lg-19 {
        width: 52.77777778%
    }
    .col-lg-18 {
        width: 50%
    }
    .col-lg-17 {
        width: 47.22222222%
    }
    .col-lg-16 {
        width: 44.44444444%
    }
    .col-lg-15 {
        width: 41.66666667%
    }
    .col-lg-14 {
        width: 38.88888889%
    }
    .col-lg-13 {
        width: 36.11111111%
    }
    .col-lg-12 {
        width: 33.33333333%
    }
    .col-lg-11 {
        width: 30.55555556%
    }
    .col-lg-10 {
        width: 27.77777778%
    }
    .col-lg-9 {
        width: 25%
    }
    .col-lg-8 {
        width: 22.22222222%
    }
    .col-lg-7 {
        width: 19.44444444%
    }
    .col-lg-6 {
        width: 16.66666667%
    }
    .col-lg-5 {
        width: 13.88888889%
    }
    .col-lg-4 {
        width: 11.11111111%
    }
    .col-lg-3 {
        width: 8.33333333%
    }
    .col-lg-2 {
        width: 5.55555556%
    }
    .col-lg-1 {
        width: 2.77777778%
    }
    .col-lg-pull-36 {
        right: 100%
    }
    .col-lg-pull-35 {
        right: 97.22222222%
    }
    .col-lg-pull-34 {
        right: 94.44444444%
    }
    .col-lg-pull-33 {
        right: 91.66666667%
    }
    .col-lg-pull-32 {
        right: 88.88888889%
    }
    .col-lg-pull-31 {
        right: 86.11111111%
    }
    .col-lg-pull-30 {
        right: 83.33333333%
    }
    .col-lg-pull-29 {
        right: 80.55555556%
    }
    .col-lg-pull-28 {
        right: 77.77777778%
    }
    .col-lg-pull-27 {
        right: 75%
    }
    .col-lg-pull-26 {
        right: 72.22222222%
    }
    .col-lg-pull-25 {
        right: 69.44444444%
    }
    .col-lg-pull-24 {
        right: 66.66666667%
    }
    .col-lg-pull-23 {
        right: 63.88888889%
    }
    .col-lg-pull-22 {
        right: 61.11111111%
    }
    .col-lg-pull-21 {
        right: 58.33333333%
    }
    .col-lg-pull-20 {
        right: 55.55555556%
    }
    .col-lg-pull-19 {
        right: 52.77777778%
    }
    .col-lg-pull-18 {
        right: 50%
    }
    .col-lg-pull-17 {
        right: 47.22222222%
    }
    .col-lg-pull-16 {
        right: 44.44444444%
    }
    .col-lg-pull-15 {
        right: 41.66666667%
    }
    .col-lg-pull-14 {
        right: 38.88888889%
    }
    .col-lg-pull-13 {
        right: 36.11111111%
    }
    .col-lg-pull-12 {
        right: 33.33333333%
    }
    .col-lg-pull-11 {
        right: 30.55555556%
    }
    .col-lg-pull-10 {
        right: 27.77777778%
    }
    .col-lg-pull-9 {
        right: 25%
    }
    .col-lg-pull-8 {
        right: 22.22222222%
    }
    .col-lg-pull-7 {
        right: 19.44444444%
    }
    .col-lg-pull-6 {
        right: 16.66666667%
    }
    .col-lg-pull-5 {
        right: 13.88888889%
    }
    .col-lg-pull-4 {
        right: 11.11111111%
    }
    .col-lg-pull-3 {
        right: 8.33333333%
    }
    .col-lg-pull-2 {
        right: 5.55555556%
    }
    .col-lg-pull-1 {
        right: 2.77777778%
    }
    .col-lg-pull-0 {
        right: auto
    }
    .col-lg-push-36 {
        left: 100%
    }
    .col-lg-push-35 {
        left: 97.22222222%
    }
    .col-lg-push-34 {
        left: 94.44444444%
    }
    .col-lg-push-33 {
        left: 91.66666667%
    }
    .col-lg-push-32 {
        left: 88.88888889%
    }
    .col-lg-push-31 {
        left: 86.11111111%
    }
    .col-lg-push-30 {
        left: 83.33333333%
    }
    .col-lg-push-29 {
        left: 80.55555556%
    }
    .col-lg-push-28 {
        left: 77.77777778%
    }
    .col-lg-push-27 {
        left: 75%
    }
    .col-lg-push-26 {
        left: 72.22222222%
    }
    .col-lg-push-25 {
        left: 69.44444444%
    }
    .col-lg-push-24 {
        left: 66.66666667%
    }
    .col-lg-push-23 {
        left: 63.88888889%
    }
    .col-lg-push-22 {
        left: 61.11111111%
    }
    .col-lg-push-21 {
        left: 58.33333333%
    }
    .col-lg-push-20 {
        left: 55.55555556%
    }
    .col-lg-push-19 {
        left: 52.77777778%
    }
    .col-lg-push-18 {
        left: 50%
    }
    .col-lg-push-17 {
        left: 47.22222222%
    }
    .col-lg-push-16 {
        left: 44.44444444%
    }
    .col-lg-push-15 {
        left: 41.66666667%
    }
    .col-lg-push-14 {
        left: 38.88888889%
    }
    .col-lg-push-13 {
        left: 36.11111111%
    }
    .col-lg-push-12 {
        left: 33.33333333%
    }
    .col-lg-push-11 {
        left: 30.55555556%
    }
    .col-lg-push-10 {
        left: 27.77777778%
    }
    .col-lg-push-9 {
        left: 25%
    }
    .col-lg-push-8 {
        left: 22.22222222%
    }
    .col-lg-push-7 {
        left: 19.44444444%
    }
    .col-lg-push-6 {
        left: 16.66666667%
    }
    .col-lg-push-5 {
        left: 13.88888889%
    }
    .col-lg-push-4 {
        left: 11.11111111%
    }
    .col-lg-push-3 {
        left: 8.33333333%
    }
    .col-lg-push-2 {
        left: 5.55555556%
    }
    .col-lg-push-1 {
        left: 2.77777778%
    }
    .col-lg-push-0 {
        left: auto
    }
    .col-lg-offset-36 {
        margin-left: 100%
    }
    .col-lg-offset-35 {
        margin-left: 97.22222222%
    }
    .col-lg-offset-34 {
        margin-left: 94.44444444%
    }
    .col-lg-offset-33 {
        margin-left: 91.66666667%
    }
    .col-lg-offset-32 {
        margin-left: 88.88888889%
    }
    .col-lg-offset-31 {
        margin-left: 86.11111111%
    }
    .col-lg-offset-30 {
        margin-left: 83.33333333%
    }
    .col-lg-offset-29 {
        margin-left: 80.55555556%
    }
    .col-lg-offset-28 {
        margin-left: 77.77777778%
    }
    .col-lg-offset-27 {
        margin-left: 75%
    }
    .col-lg-offset-26 {
        margin-left: 72.22222222%
    }
    .col-lg-offset-25 {
        margin-left: 69.44444444%
    }
    .col-lg-offset-24 {
        margin-left: 66.66666667%
    }
    .col-lg-offset-23 {
        margin-left: 63.88888889%
    }
    .col-lg-offset-22 {
        margin-left: 61.11111111%
    }
    .col-lg-offset-21 {
        margin-left: 58.33333333%
    }
    .col-lg-offset-20 {
        margin-left: 55.55555556%
    }
    .col-lg-offset-19 {
        margin-left: 52.77777778%
    }
    .col-lg-offset-18 {
        margin-left: 50%
    }
    .col-lg-offset-17 {
        margin-left: 47.22222222%
    }
    .col-lg-offset-16 {
        margin-left: 44.44444444%
    }
    .col-lg-offset-15 {
        margin-left: 41.66666667%
    }
    .col-lg-offset-14 {
        margin-left: 38.88888889%
    }
    .col-lg-offset-13 {
        margin-left: 36.11111111%
    }
    .col-lg-offset-12 {
        margin-left: 33.33333333%
    }
    .col-lg-offset-11 {
        margin-left: 30.55555556%
    }
    .col-lg-offset-10 {
        margin-left: 27.77777778%
    }
    .col-lg-offset-9 {
        margin-left: 25%
    }
    .col-lg-offset-8 {
        margin-left: 22.22222222%
    }
    .col-lg-offset-7 {
        margin-left: 19.44444444%
    }
    .col-lg-offset-6 {
        margin-left: 16.66666667%
    }
    .col-lg-offset-5 {
        margin-left: 13.88888889%
    }
    .col-lg-offset-4 {
        margin-left: 11.11111111%
    }
    .col-lg-offset-3 {
        margin-left: 8.33333333%
    }
    .col-lg-offset-2 {
        margin-left: 5.55555556%
    }
    .col-lg-offset-1 {
        margin-left: 2.77777778%
    }
    .col-lg-offset-0 {
        margin-left: 0
    }
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 24px;
    font-size: 22.5px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700
}

input[type=search] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

input[type=radio],
input[type=checkbox] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal
}

input[type=file] {
    display: block
}

input[type=range] {
    display: block;
    width: 100%
}

select[multiple],
select[size] {
    height: auto
}

input[type=file]:focus,
input[type=radio]:focus,
input[type=checkbox]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

output {
    display: block;
    padding-top: 7px;
    font-size: 15px;
    line-height: 1.6;
    color: #555
}

.form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.6;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.form-control::-moz-placeholder {
    color: #777;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #777
}

.form-control::-webkit-input-placeholder {
    color: #777
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1
}

textarea.form-control {
    height: auto
}

input[type=search] {
    -webkit-appearance: none
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month] {
    line-height: 38px;
    line-height: 1.6 \0
}

input[type=date].input-sm,
input[type=time].input-sm,
input[type=datetime-local].input-sm,
input[type=month].input-sm {
    line-height: 31px
}

input[type=date].input-lg,
input[type=time].input-lg,
input[type=datetime-local].input-lg,
input[type=month].input-lg {
    line-height: 46px
}

.form-group {
    margin-bottom: 15px
}

.radio,
.checkbox {
    position: relative;
    display: block;
    min-height: 24px;
    margin-top: 10px;
    margin-bottom: 10px
}

.radio label,
.checkbox label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer
}

.radio input[type=radio],
.radio-inline input[type=radio],
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px \9
}

.radio+.radio,
.checkbox+.checkbox {
    margin-top: -5px
}

.radio-inline,
.checkbox-inline {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer
}

.radio-inline+.radio-inline,
.checkbox-inline+.checkbox-inline {
    margin-top: 0;
    margin-left: 10px
}

input[type=radio][disabled],
input[type=checkbox][disabled],
input[type=radio].disabled,
input[type=checkbox].disabled,
fieldset[disabled] input[type=radio],
fieldset[disabled] input[type=checkbox] {
    cursor: not-allowed
}

.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
    cursor: not-allowed
}

.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
    cursor: not-allowed
}

.form-control-static {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0
}

.form-control-static.input-lg,
.form-control-static.input-sm {
    padding-left: 0;
    padding-right: 0
}

.input-sm,
.form-horizontal .form-group-sm .form-control {
    height: 31px;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px
}

select.input-sm {
    height: 31px;
    line-height: 31px
}

textarea.input-sm,
select[multiple].input-sm {
    height: auto
}

.input-lg,
.form-horizontal .form-group-lg .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px
}

select.input-lg {
    height: 46px;
    line-height: 46px
}

textarea.input-lg,
select[multiple].input-lg {
    height: auto
}

.has-feedback {
    position: relative
}

.has-feedback .form-control {
    padding-right: 47.5px
}

.form-control-feedback {
    position: absolute;
    top: 29px;
    right: 0;
    z-index: 2;
    display: block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center
}

.input-lg+.form-control-feedback {
    width: 46px;
    height: 46px;
    line-height: 46px
}

.input-sm+.form-control-feedback {
    width: 31px;
    height: 31px;
    line-height: 31px
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
    color: #4cae4c
}

.has-success .form-control {
    border-color: #4cae4c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-success .form-control:focus {
    border-color: #3d8b3d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #91cf91;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #91cf91
}

.has-success .input-group-addon {
    color: #4cae4c;
    border-color: #4cae4c;
    background-color: #dff0d8
}

.has-success .form-control-feedback {
    color: #4cae4c
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
    color: #eea236
}

.has-warning .form-control {
    border-color: #eea236;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-warning .form-control:focus {
    border-color: #df8a13;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #f6ce95;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #f6ce95
}

.has-warning .input-group-addon {
    color: #eea236;
    border-color: #eea236;
    background-color: #fcf8e3
}

.has-warning .form-control-feedback {
    color: #eea236
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
    color: #d43f3a
}

.has-error .form-control {
    border-color: #d43f3a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-error .form-control:focus {
    border-color: #b52b27;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #e7908e;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #e7908e
}

.has-error .input-group-addon {
    color: #d43f3a;
    border-color: #d43f3a;
    background-color: #f2dede
}

.has-error .form-control-feedback {
    color: #d43f3a
}

.has-feedback label.sr-only~.form-control-feedback {
    top: 0
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #b7b7b7
}

@media (min-width:768px) {
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle
    }
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
    }
    .form-inline .input-group {
        display: inline-table;
        vertical-align: middle
    }
    .form-inline .input-group .input-group-addon,
    .form-inline .input-group .input-group-btn,
    .form-inline .input-group .form-control {
        width: auto
    }
    .form-inline .input-group>.form-control {
        width: 100%
    }
    .form-inline .control-label {
        margin-bottom: 0;
        vertical-align: middle
    }
    .form-inline .radio,
    .form-inline .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle
    }
    .form-inline .radio label,
    .form-inline .checkbox label {
        padding-left: 0
    }
    .form-inline .radio input[type=radio],
    .form-inline .checkbox input[type=checkbox] {
        position: relative;
        margin-left: 0
    }
    .form-inline .has-feedback .form-control-feedback {
        top: 0
    }
}

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px
}

.form-horizontal .radio,
.form-horizontal .checkbox {
    min-height: 31px
}

.form-horizontal .form-group {
    margin-left: -5px;
    margin-right: -5px
}

@media (min-width:768px) {
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px
    }
}

.form-horizontal .has-feedback .form-control-feedback {
    top: 0;
    right: 5px
}

@media (min-width:768px) {
    .form-horizontal .form-group-lg .control-label {
        padding-top: 14.3px
    }
}

@media (min-width:768px) {
    .form-horizontal .form-group-sm .control-label {
        padding-top: 6px
    }
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.6;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none
}

.btn:active,
.btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    background-image: none
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc
}

.btn-default .badge {
    color: #fff;
    background-color: #333
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e
}

.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background-image: none
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #428bca;
    border-color: #357ebd
}

.btn-primary .badge {
    color: #428bca;
    background-color: #fff
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
    background-image: none
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success .badge {
    color: #5cb85c;
    background-color: #fff
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    background-image: none
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info .badge {
    color: #5bc0de;
    background-color: #fff
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open>.dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512
}

.btn-warning:active,
.btn-warning.active,
.open>.dropdown-toggle.btn-warning {
    background-image: none
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    background-image: none
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger .badge {
    color: #d9534f;
    background-color: #fff
}

.btn-link {
    color: #428bca;
    font-weight: 400;
    cursor: pointer;
    border-radius: 0
}

.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    border-color: transparent
}

.btn-link:hover,
.btn-link:focus {
    color: #2a6496;
    text-decoration: underline;
    background-color: transparent
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
    color: #777;
    text-decoration: none
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px
}

.btn-sm {
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px
}

.btn-xs {
    padding: 1px 5px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px
}

.btn-block {
    display: block;
    width: 100%
}

.btn-block+.btn-block {
    margin-top: 5px
}

input[type=submit].btn-block,
input[type=reset].btn-block,
input[type=button].btn-block {
    width: 100%
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.nav>li {
    position: relative;
    display: block
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 7px 15px
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: transparent
}

.nav>li.disabled>a {
    color: #777
}

.nav>li.disabled>a:hover,
.nav>li.disabled>a:focus {
    color: #777;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: transparent;
    border-color: #428bca
}

.nav .nav-divider {
    height: 1px;
    margin: 11px 0;
    overflow: hidden;
    background-color: #e5e5e5
}

.nav>li>a>img {
    max-width: none
}

.nav-tabs {
    border-bottom: 1px solid #ddd
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.6;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0
}

.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default
}

.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0
}

.nav-tabs.nav-justified>li {
    float: none
}

.nav-tabs.nav-justified>li>a {
    text-align: center;
    margin-bottom: 5px
}

.nav-tabs.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto
}

@media (min-width:768px) {
    .nav-tabs.nav-justified>li {
        display: table-cell;
        width: 1%
    }
    .nav-tabs.nav-justified>li>a {
        margin-bottom: 0
    }
}

.nav-tabs.nav-justified>li>a {
    margin-right: 0;
    border-radius: 4px
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
    border: 1px solid #ddd
}

@media (min-width:768px) {
    .nav-tabs.nav-justified>li>a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0
    }
    .nav-tabs.nav-justified>.active>a,
    .nav-tabs.nav-justified>.active>a:hover,
    .nav-tabs.nav-justified>.active>a:focus {
        border-bottom-color: #fff
    }
}

.nav-pills>li {
    float: left
}

.nav-pills>li>a {
    border-radius: 4px
}

.nav-pills>li+li {
    margin-left: 2px
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #333;
    background-color: transparent
}

.nav-stacked>li {
    float: none
}

.nav-stacked>li+li {
    margin-top: 2px;
    margin-left: 0
}

.nav-justified {
    width: 100%
}

.nav-justified>li {
    float: none
}

.nav-justified>li>a {
    text-align: center;
    margin-bottom: 5px
}

.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto
}

@media (min-width:768px) {
    .nav-justified>li {
        display: table-cell;
        width: 1%
    }
    .nav-justified>li>a {
        margin-bottom: 0
    }
}

.nav-tabs-justified {
    border-bottom: 0
}

.nav-tabs-justified>li>a {
    margin-right: 0;
    border-radius: 4px
}

.nav-tabs-justified>.active>a,
.nav-tabs-justified>.active>a:hover,
.nav-tabs-justified>.active>a:focus {
    border: 1px solid #ddd
}

@media (min-width:768px) {
    .nav-tabs-justified>li>a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0
    }
    .nav-tabs-justified>.active>a,
    .nav-tabs-justified>.active>a:hover,
    .nav-tabs-justified>.active>a:focus {
        border-bottom-color: #fff
    }
}

.tab-content>.tab-pane {
    display: none
}

.tab-content>.active {
    display: block
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.close {
    float: right;
    font-size: 22.5px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20)
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    filter: alpha(opacity=50)
}

button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    visibility: visible;
    font-size: 13px;
    line-height: 1.4;
    opacity: 0;
    filter: alpha(opacity=0)
}

.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100)
}

.tooltip.top {
    margin-top: -3px;
    padding: 5px 0
}

.tooltip.right {
    margin-left: 3px;
    padding: 0 5px
}

.tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0
}

.tooltip.left {
    margin-left: -3px;
    padding: 0 5px
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #d9534f;
    text-align: center;
    text-decoration: none;
    background-color: #f0f0f0;
    border-radius: 4px
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #f0f0f0
}

.tooltip.top-left .tooltip-arrow {
    bottom: 0;
    left: 5px;
    border-width: 5px 5px 0;
    border-top-color: #f0f0f0
}

.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    right: 5px;
    border-width: 5px 5px 0;
    border-top-color: #f0f0f0
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #f0f0f0
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #f0f0f0
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #f0f0f0
}

.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    left: 5px;
    border-width: 0 5px 5px;
    border-bottom-color: #f0f0f0
}

.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    right: 5px;
    border-width: 0 5px 5px;
    border-bottom-color: #f0f0f0
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.nav:before,
.nav:after {
    content: " ";
    display: table
}

.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.nav:after {
    clear: both
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.pull-right {
    float: right!important
}

.pull-left {
    float: left!important
}

.hide {
    display: none!important
}

.show {
    display: block!important
}

.invisible {
    visibility: hidden
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.hidden {
    display: none!important;
    visibility: hidden!important
}

.affix {
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

@-ms-viewport {
    width: device-width
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none!important
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
    display: none!important
}

@media (max-width:767px) {
    .visible-xs {
        display: block!important
    }
    table.visible-xs {
        display: table
    }
    tr.visible-xs {
        display: table-row!important
    }
    th.visible-xs,
    td.visible-xs {
        display: table-cell!important
    }
}

@media (max-width:767px) {
    .visible-xs-block {
        display: block!important
    }
}

@media (max-width:767px) {
    .visible-xs-inline {
        display: inline!important
    }
}

@media (max-width:767px) {
    .visible-xs-inline-block {
        display: inline-block!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm {
        display: block!important
    }
    table.visible-sm {
        display: table
    }
    tr.visible-sm {
        display: table-row!important
    }
    th.visible-sm,
    td.visible-sm {
        display: table-cell!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm-block {
        display: block!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm-inline {
        display: inline!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm-inline-block {
        display: inline-block!important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .visible-md {
        display: block!important
    }
    table.visible-md {
        display: table
    }
    tr.visible-md {
        display: table-row!important
    }
    th.visible-md,
    td.visible-md {
        display: table-cell!important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .visible-md-block {
        display: block!important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .visible-md-inline {
        display: inline!important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .visible-md-inline-block {
        display: inline-block!important
    }
}

@media (min-width:1200px) {
    .visible-lg {
        display: block!important
    }
    table.visible-lg {
        display: table
    }
    tr.visible-lg {
        display: table-row!important
    }
    th.visible-lg,
    td.visible-lg {
        display: table-cell!important
    }
}

@media (min-width:1200px) {
    .visible-lg-block {
        display: block!important
    }
}

@media (min-width:1200px) {
    .visible-lg-inline {
        display: inline!important
    }
}

@media (min-width:1200px) {
    .visible-lg-inline-block {
        display: inline-block!important
    }
}

@media (max-width:767px) {
    .hidden-xs {
        display: none!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none!important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .hidden-md {
        display: none!important
    }
}

@media (min-width:1200px) {
    .hidden-lg {
        display: none!important
    }
}

.visible-print {
    display: none!important
}

@media print {
    .visible-print {
        display: block!important
    }
    table.visible-print {
        display: table
    }
    tr.visible-print {
        display: table-row!important
    }
    th.visible-print,
    td.visible-print {
        display: table-cell!important
    }
}

.visible-print-block {
    display: none!important
}

@media print {
    .visible-print-block {
        display: block!important
    }
}

.visible-print-inline {
    display: none!important
}

@media print {
    .visible-print-inline {
        display: inline!important
    }
}

.visible-print-inline-block {
    display: none!important
}

@media print {
    .visible-print-inline-block {
        display: inline-block!important
    }
}

@media print {
    .hidden-print {
        display: none!important
    }
}

html,
body {
    font-weight: 300
}

h1 {
    font-weight: 600
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0
}

h1 .the,
h2 .the,
h3 .the,
h4 .the,
h5 .the,
h6 .the,
.h1 .the,
.h2 .the,
.h3 .the,
.h4 .the,
.h5 .the,
.h6 .the {
    font-size: .5em;
    vertical-align: .5em;
    font-weight: 700
}

h1 .tm,
h2 .tm,
h3 .tm,
h4 .tm,
h5 .tm,
h6 .tm,
.h1 .tm,
.h2 .tm,
.h3 .tm,
.h4 .tm,
.h5 .tm,
.h6 .tm {
    font-size: .3em;
    vertical-align: 1.5em;
    font-weight: 700
}

h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
    font-weight: 300;
    font-size: 75%
}

a,
a:hover,
a:visited {
    text-decoration: none
}

hr {
    margin: 12px 0;
    border-color: #d5d5d5
}

label {
    font-weight: 300
}

strong {
    font-weight: 600
}

.bold {
    color: #333
}

.master_container {
    padding: 20px 0
}

.container {
    padding: 0 25px
}

.hang-punctuation-left {
    float: left;
    margin-left: -11.25px
}

.hang-punctuation-right {
    float: right;
    margin-right: -11.25px
}

.lead {
    font-weight: 300
}

.lead.bold {
    font-size: 22.5px
}

@font-face {
    font-family: ii-website;
    src: url(../fonts/ii-website.eot);
    src: url(../fonts/ii-website.eot?#iefix) format('embedded-opentype'), url(../fonts/ii-website.woff) format('woff'), url(../fonts/ii-website.ttf) format('truetype'), url(../fonts/ii-website.svg#ii-website) format('svg');
    font-weight: 400;
    font-style: normal
}

[data-icon]:before {
    font-family: ii-website!important;
    content: attr(data-icon);
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

[class^=ii-icon-]:before,
[class*=" ii-icon-"]:before {
    font-family: ii-website!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ii-icon-angle-double-down:before {
    content: "a"
}

.master_header {
    background-color: #f3f3f3;
    text-align: center
}

.master_header .master_container {
    padding-top: 10px;
    padding-bottom: 10px
}

.master_header .row {
    position: relative
}

.master_header .nav {
    display: inline-block;
    padding-top: 7px
}

.master_header .nav.nav-pills>li {
    float: none;
    display: inline-block
}

.master_header .nav .active {
    font-weight: 600
}

@media (min-width:768px) {
    .master_header .master_container {
        padding-top: 15px;
        padding-bottom: 15px
    }
    .master_header .logo {
        float: left
    }
    .master_header .nav {
        float: right
    }
}

@media (max-width:384px) {
    .master_header .container {
        padding: 0 25px
    }
}

.master_body .master_title {
    text-align: center;
    margin-top: 12px
}

.master_body .master_title h1,
.master_body .master_title h2,
.master_body .master_title h3,
.master_body .master_title h4,
.master_body .master_title h5,
.master_body .master_title h6,
.master_body .master_title .h1,
.master_body .master_title .h2,
.master_body .master_title .h3,
.master_body .master_title .h4,
.master_body .master_title .h5,
.master_body .master_title .h6 {
    line-height: .8
}

.master_body .master_title h1,
.master_body .master_title .h1 {
    font-size: 33.44px
}

@media (min-width:768px) {
    .master_body .master_title h1,
    .master_body .master_title .h1 {
        font-size: 36.48px
    }
}

.master_body .master_title div {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px
}

.master_body .master_title a {
    color: #5e5e5e;
    border-bottom: 1px solid #5e5e5e
}

.master_body .master_inner>div.row {
    margin-top: 34px;
    margin-bottom: 34px
}

.master_footer {
    text-align: center;
    font-size: 13px;
    color: #777
}

.master_footer .master_inner>div.row {
    margin: 24px 0
}

.master_footer .list-inline>li {
    padding-left: 12px;
    padding-right: 12px
}

.index .master_header .master_container {
    padding-top: 30px;
    padding-bottom: 30px
}

.index .master_body .master_inner>div.row {
    margin-top: 12px;
    margin-bottom: 0
}

.bigpicture .master_body hr {
    margin: 40px -10px
}

.bigpicture .master_body ul,
.bigpicture .master_body ol {
    -webkit-padding-start: 24px;
    padding-left: 24px;
    padding-right: 12px
}

@media (min-width:992px) {
    .bigpicture .master_body ul,
    .bigpicture .master_body ol {
        margin: 0
    }
}

.bigpicture .master_body .master_title {
    padding-bottom: 12px
}

.bigpicture .master_body .master_title h1,
.bigpicture .master_body .master_title .h1 {
    font-size: 42.56px
}

@media (min-width:768px) {
    .bigpicture .master_body .master_title h1,
    .bigpicture .master_body .master_title .h1 {
        font-size: 54.72px
    }
}

.bigpicture .master_body .bp_preview img {
    border: 1px solid #eee;
    box-shadow: 0 0 20px rgba(0, 0, 0, .075)
}

.bigpicture .master_body .bp_preview .pdf-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 18px;
    width: 100%
}

@media (min-width:768px) {
    .bigpicture .master_body .bp_preview .pdf-link {
        padding-top: 0;
        padding-bottom: 0;
        position: absolute;
        bottom: 0;
        left: 0
    }
}

.bigpicture .master_body .bp_preview .call-to-action {
    display: table
}

.bigpicture .master_body .bp_preview .call-to-action p {
    margin-bottom: 20px
}

.bigpicture .master_body .bp_preview .call-to-action p.lead {
    font-size: 26.25px;
    margin-bottom: 15px
}

@media (min-width:768px) {
    .bigpicture .master_body .bp_preview .call-to-action div {
        display: table-cell
    }
}

@media (min-width:992px) {
    .bigpicture .master_body .bp_preview .call-to-action div {
        vertical-align: middle
    }
}

@media (min-width:768px) {
    .bigpicture .master_body .bp_preview .call-to-action {
        height: 292px
    }
}

@media (min-width:992px) {
    .bigpicture .master_body .bp_preview .call-to-action {
        height: 387px
    }
}

.bigpicture .master_body .highlights,
.bigpicture .master_body .conversation_guide {
    background-color: #fcfcfc
}

.bigpicture .master_body .highlights img {
    position: absolute;
    left: 5px;
    top: 20px
}

@media (min-width:992px) {
    .bigpicture .master_body .highlights img {
        left: 20px
    }
}

.bigpicture .master_body .highlights .lead {
    margin-bottom: 10px
}

.bigpicture .master_body .highlights .row div {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 180px;
    min-height: 190px;
}

@media (min-width:992px) {
    .bigpicture .master_body .highlights .row div {
        padding-left: 200px;
        padding-right: 40px;
    }
}

.bigpicture .master_body .highlights .master_inner>div.row {
    margin-top: 24px;
    margin-bottom: 24px;
}

.bigpicture .master_body .conversation_guide {
    font-size: 18px
}

.bigpicture .master_body .conversation_guide .master_inner>div.row {
    margin-top: 0;
    margin-bottom: 0;
}

.bigpicture .master_body .product_details .handout-annotation {
    padding-left: 24px;
}

.order .order_inner {
    max-width: 330px;
    margin: 0 auto;
}

.order .order_inner s {
    color: #ccc;
}

.order .order_inner>.row {
    border-top: 1px solid #d5d5d5;
    padding: 25px 0;
}

.order .order_inner>.row h1,
.order .order_inner>.row h2,
.order .order_inner>.row h3,
.order .order_inner>.row h4,
.order .order_inner>.row h5,
.order .order_inner>.row h6,
.order .order_inner>.row .h1,
.order .order_inner>.row .h2,
.order .order_inner>.row .h3,
.order .order_inner>.row .h4,
.order .order_inner>.row .h5,
.order .order_inner>.row .h6 {
    margin: 0;
}

.order .order_inner>.row>div {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px
}

.order .order_inner>.row .preorder_inactive {
    display: none;
}

.order .order_inner>.row.bulk_container {
    padding-top: 0;
    border: none;
}

.order .order_inner>.row.bulk_container a {
    text-decoration: none
}

.order .order_inner>.row.bulk_container a .link-emphasis {
    color: #3071a9;
    border-bottom: 1px solid #3071a9
}

.order .order_inner>.row.year_container {
    padding-top: 18px;
    text-align: left
}

.order .order_inner>.row.year_container.preorder_container .year_title {
    color: #4cae4c
}

.order .order_inner>.row.year_container.preorder_container .year_title h1,
.order .order_inner>.row.year_container.preorder_container .year_title h2,
.order .order_inner>.row.year_container.preorder_container .year_title h3,
.order .order_inner>.row.year_container.preorder_container .year_title h4,
.order .order_inner>.row.year_container.preorder_container .year_title h5,
.order .order_inner>.row.year_container.preorder_container .year_title h6,
.order .order_inner>.row.year_container.preorder_container .year_title .h1,
.order .order_inner>.row.year_container.preorder_container .year_title .h2,
.order .order_inner>.row.year_container.preorder_container .year_title .h3,
.order .order_inner>.row.year_container.preorder_container .year_title .h4,
.order .order_inner>.row.year_container.preorder_container .year_title .h5,
.order .order_inner>.row.year_container.preorder_container .year_title .h6 {
    color: #4cae4c
}

.order .order_inner>.row.year_container.preorder_container .year_title h3,
.order .order_inner>.row.year_container.preorder_container .year_title .h3 {
    font-size: 22.1px
}

.order .order_inner>.row.year_container.preorder_container .year_title .row div.icon_container {
    display: none;
    font-size: 27px
}

.order .order_inner>.row.year_container.preorder_container .year_title .row div.text-primary {
    margin-top: 12px
}

.order .order_inner>.row.year_container.preorder_container.clickable_preorder {
    cursor: pointer;
    padding-bottom: 18px
}

.order .order_inner>.row.year_container.preorder_container.clickable_preorder>div {
    display: none
}

.order .order_inner>.row.year_container.preorder_container.clickable_preorder>div.year_title {
    display: block;
    margin-bottom: 0
}

.order .order_inner>.row.year_container.preorder_container.clickable_preorder>div.year_title .icon_container {
    display: block
}

.order .order_inner>.row.year_container .year_title {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 24px;
}

.order .order_inner>.row.year_container .product_container {
    position: relative;
    float: left;
    width: 44.44444444%;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px
}

.order .order_inner>.row.year_container .product_container .product_language_container {
    position: relative;
    float: left;
    width: 50%;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px
}

.order .order_inner>.row.year_container .product_container .product_language_container .form-group {
    margin-bottom: 6px
}

.order .order_inner>.row.subtotal_container {
    text-align: right
}

.order .order_inner>.row.subtotal_container>.row {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
}
.order .order_inner>.row.subtotal_container .row {
    padding: 18px 0
}
.order .order_inner>.row.subtotal_container hr {
    margin-bottom: 18px
}
.order .order_inner>.row.subtotal_container .bold {
    font-size: 16px;
    font-weight: 400;
}
.contact .contact_row {
    margin: 0 auto;
    max-width: 300px;
}
.contact .form-group label {
    position: relative;
    float: left;
    width: 27.77777778%;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.contact .form-group div {
    position: relative;
    float: left;
    width: 72.22222222%;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    float: right;
}
.master_header {
    background-color: #f3f3f3;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
}
.master_body {
    padding-top: 78px;
}
.row.master_title {
    margin: 0px;
}
p {
    color: rgba(0,0,0,0.7);
}
.semibold{
    font-weight: 600;
}
.master_footer{
    background: #f2f2f2;
}
.advisor_logo {
    position: absolute;
    right: 0px;
    top: 2px;
}
.advisor_logo h4 {
    font-size: 13px;
    margin: 0px 0 7px;
    color: rgba(0,0,0,0.7);
}
.advisor_logo img {
    max-width: 190px;
}
.pb-4{
    padding-bottom: 40px;
}
.selectcountry_page {
    padding-top: 132px;
}
.mt-2{
    margin-top: 20px;
}
.advisor_logo.mb-block {
    display: none;
}
ol.order-lists li {
    margin-bottom: 10px;
}
@media (max-width:991px) {
.advisor_logo.mb-block {
    position: relative;
    top: 0;
    margin-bottom: 20px;
}
.advisor_logo.mb-none {
    display: none;
}
.advisor_logo.mb-block {
    display: block;
}
}
@media (max-width:767px) {
    .master_body {
       padding-top: 113px;
    }
    .selectcountry_page {
       padding-top: 132px;
    }
    .master_footer .master_inner>div.row {
       margin: 4px 0;
    }
    .advisor_logo h4{
        margin: 0 0 12px;
    }
}

@media (max-width:479px) {
.nav>li>a{
    padding: 7px 13px;
}
}

@media (max-width:384px) {
    .master_body {
        padding-top: 110px;
    }
    .selectcountry_page {
       padding-top: 132px;
    }
}